{%- set external_urls = {
  'github': 'https://github.com/cleartext/cleartext',
  'github_issues': 'https://github.com/cleartext/cleartext/issues',
  'contributing': 'https://github.com/cleartext/cleartext/blob/master/CONTRIBUTING.md',
  'docs': 'https://cleartext.org/docs/stable/index.html',
  'twitter': 'https://twitter.com/cleartext',
  'facebook': 'https://www.facebook.com/cleartext',
  'slack': 'https://cleartext.slack.com',
  'discuss': 'https://discuss.cleartext.org',
  'tutorials': 'https://cleartext.org/tutorials',
  'previous_cleartext_versions': 'https://cleartext.org/previous-versions/',
  'home': 'https:/socotra.com/',
  'get_started': 'https://cleartext.org/get-started',
  'features': 'https://cleartext.org/features',
  'ecosystemla': 'https://cleartext.org/ecosystem',
  'blog': 'https://cleartext.org/blog/',
  'resources': 'https://cleartext.org/resources',
  'support': 'https://cleartext.org/support',
  'mobile': 'https://cleartext.org/mobile',
  'hub': 'https://cleartext.org/hub'
}
-%}
